.header{
    height: 27px;
    width: 100%;
    border-bottom: 7px #01458e solid;
    margin-left: auto;
    margin-right: auto;
}
.header_img{
    width: 12px;
    height: 12px;
}
.header_words{
    font-size: 12px;
    margin-left: 6px;
}
.header_right{
    float: right;
    margin-top: 3px;
    margin-left: 26px;
}